@model mio1412.Models.Report
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Create";
    Layout = "_layout";
    var id = Context.Session.GetInt32("aid");
}

<h1>Create</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (id != null)
            {
                <input asp-for="AccountId" value="@id" type="hidden"/>
            }
            <div class="form-group">
                <label asp-for="Task_Name" class="control-label"></label>
                <input asp-for="Task_Name" class="form-control" />
                <span asp-validation-for="Task_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Progress" class="control-label"></label>
                <input asp-for="Progress" class="form-control" />
                <span asp-validation-for="Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issues" class="control-label"></label>
                <input asp-for="Issues" class="form-control" />
                <span asp-validation-for="Issues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
